* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: url('Fonts/ProximaNovaCond-Black.woff2') format('woff2'),
        url('Font/sProximaNovaCond-Black.woff') format('woff'),
        url('Font/ProximaNovaCond-Black.ttf') format('truetype'),
        url('Fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

  .navbar__logo {
      font-family: 'ProximaNovaCond';
  }

  img[src*="Sob.png"] {
    position: relative;
    top: 4px
}

  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    left: 0px;
    top: 0;
    z-index: 999;
    font-family: 'Arial',Proxima Nova Cn Bl;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    background-color: #ffcc4d;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    position: absolute;
    left: 50px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    font-family: Proxima Nova Cn Bl;
  }
  
  .fa-gem {
    margin-right: 0.5rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    right: 50px;
    position: absolute;
  }
  
  .navbar__item {
    height: 80px;
  }

  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 235px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fecb7e 0%, #f68686 100%);
    color: #fff;
  }
  
  .button:hover {
    background: linear-gradient(to bottom, #c92d42 0%,#fa6d50 50%, #f9c67b 100%);
    transition: all 0.3s ease;
    color: #131313
  }
  
  .navbar__links:hover {
    background: linear-gradient(to bottom, #fecb7e 0%, #f68686 100%);
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-box-decoration-break: clone;
    -moz-text-fill-color: transparent;
    box-decoration-break: clone;
    text-shadow: none;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1040px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      right: 0px;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 600%;
      font-size: 1.6rem;
      width: 100%;
    }
  
    #navbar__logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
      position: sticky;
      right: 100px;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
      width: 100%;
      position: sticky;
      right: 100px;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* Elma Pig */

.Elma__Pigger {
  width: 100%;
}